ast_serialize==0.5.0
colorama==0.4.6
coverage==7.14.1
dependency-injector==4.49.0
dishka==1.10.1
execnet==2.1.2
iniconfig==2.3.0
injector==0.24.0
lagom==2.7.7
libcst==1.8.6
librt==0.11.0
mypy==2.1.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-rerunfailures==16.3
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-ulid==3.1.0
PyYAML==6.0.3
ruff==0.15.15
setuptools==82.0.1
typing_extensions==4.15.0